{
  "presets": [["env", { "modules": "commonjs" }], "react"],
  "plugins": [
    ["react-native-web", { "commonjs": true }],
    "transform-class-properties", "babel-plugin-transform-es2015-modules-commonjs",
    [
      "module-resolver",
      {
        "root": ["./lib"],
        "alias": {
          "^react-native$": "react-native-web"
        }
      }
    ]
  ]
}
